.primaryButton {
    button {
        height: 50px;
        line-height: 50px;
        padding: 0px 25px;
        border-radius: 0px;
        border: solid 1px #000000;
        color: #000000;
    }
}
.inputBox {
    width: 100%;
    max-width: 400px;
    margin: 10px 0 50px 0;

    textarea {
        height: 30px;
        line-height: 30px;
        border-radius: 0;
    }
}
.iconContainer {
    width:fit-content;
    max-width: 340px;
    margin: 20px 0;
    img {
        max-width: 50px;
        background-color: inherit;
        border: solid 1px #E1E1E1;
        border-radius: 20px;
        padding: 10px;
        transition: .3s;
        &:hover {
            border: solid 1px #828282;
            border-radius: 2px;
        }
    }
}
.readMore {
    width: 100%;
    max-width: 500px;
    color: #000;
    border-bottom: #000;
    margin: 0 0 30px 0;
    a {
        font-size: 24px;
        color: #000;
        transition: .4s;
        text-transform: capitalize;
        &:hover {
            color: grey;
            color: #C61A0F;
        }
    }
}
.motionLayout {
    height: 80vh;
}
.topMenu {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px auto;
    height: 100px;
    line-height: 100px;
    align-items: center;
    p {
        margin: 0;
        text-transform: capitalize;
    }
}
.contact {
    width: 100%;
    height: 500px;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}
.backgroundGrey {
    background-color: #E1E1E1;
}
.footerBottom {
    text-align: center;
    background: #000;
    height: 80px;
    line-height: 80px;
    p{
        font-size: 16px;
        color: #fff;
        margin: 0;
    }
}
