.primaryButton {
    button {
        border-radius: 0px;
        border: solid 1px #C61A0F;
        color: #C61A0F;
    }
}
.readMore {
    width: 106px;
    color: #000;
    border-bottom: #000;
    a {
        color: #000;
    }
}