* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 38px;
    margin: 20px 0;
}
h2 {
    font-size: 32px;
    margin: 20px 0;
}
h3 {
    font-size: 28px;
    margin: 20px 0;
}
h4 {
    font-size: 24px;
    margin: 20px 0;
}
h5 {
    font-size: 20px;
    margin: 20px 0;
}
h6 {
    font-size: 16px;
}
p {
    font-size: 18px;
    margin: 20px 0;
}
a {
    font-size: 18px;
    margin: 20px 0;
}

img {
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}